# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
bin

# Ignore IDE specific files.
.vscode
.classpath
.project
.settings
.idea

# Ignore plugin build tools
spigot
.server/*

# Include dev server
!.server/paper-*.jar
!.server/eula.txt